* {
	background-color: azure;
}

h1	{
	text-align: center;
}

.workTab {
	width: fit-content;
	height: fit-content;
	padding: 1em;
	border: 3px solid black;
	float: right;
}

.bankTab {
	padding: 1em;
	border: 3px solid black;
	width: fit-content;
	height: fit-content;
	float: right;
}

.shopTab {
	width: fit-content;
	height: fit-content;
	border-style: solid;
	float: left;
	padding: 1em;
}

#repayLoan {
	display: none;
}

#description {
	max-width: 30em;
}

#specs {
	max-width: 30em;
}